*.class

# Package Files #
*.dex
*.war
*.ear
*.apk
bin/
bin
gen/
release/
release
gen
.metadata/
.metadata
*.project
# Android Studio
.idea/
.gradle
local.properties
out
build
production
*.iml
*.iws
*.ipr
*~
*.swp
